
body{
    margin:0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at top, #1a1a1a, #000);
    color:white;
    text-align:center;
}

header{
    background:linear-gradient(to right,#000,#111,#000);
    padding:15px;
    box-shadow:0 0 20px gold;
}

header h1{
    color:gold;
    margin:0;
    text-shadow:0 0 15px gold;
}

.balance-bar{
    margin-top:10px;
    font-size:18px;
    color:#00ffcc;
}

.casino-box{
    background:rgba(255,255,255,0.05);
    margin:30px auto;
    padding:25px;
    width:90%;
    max-width:400px;
    border-radius:15px;
    box-shadow:0 0 25px rgba(255,215,0,0.3);
}

button{
    background:gold;
    border:none;
    padding:12px 25px;
    margin:8px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    background:#ffd700;
}

.menu-btn{
    display:block;
    width:80%;
    margin:15px auto;
    padding:15px;
    background:gold;
    color:black;
    text-decoration:none;
    border-radius:12px;
    font-weight:bold;
}

footer{
    margin-top:40px;
    font-size:12px;
    opacity:0.6;
}

.slot{
    font-size:55px;
    margin:10px;
}
